.recTitle, .recDate {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: normal;
    color: #26273D;
}

.recTitle {
    font-size: 24px;
}

.recDate {
    font-size: 18px;
}


.itemContainer {
    display: flex;
    flex-direction: column;
    /* width:50vw; */
    width:600px;
    margin: auto;
    border-style: solid;
    border-color: #53556d;
    border-width: 0 0 3px 0;

    padding: 20px 10px 20px 10px;
}

.itemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pressItem {
    padding-block-start: 1em;
    padding-block-end: 1em;
    width:60px;
    display: flex;
    justify-content: space-between;
}

.authors {
    padding-left: 15px;
}