.searchBar {
   display:flex;
   flex-direction: row;
   /* width:30vw; */
   justify-content: center;
}

.inputContainer {
   width:50vw;
   height:20px;
   
}

.button {
   background:#0069ed;
}

.input {
    /* width:100vw; */
    /* height: 30px; */
}
