h1 {
   font-weight:400;
}

.title {
   display: flex;
   flex-direction: column;
   align-items: left;
}

#formContainer {
   display: flex;
   flex-direction: column;
   height: 30vh;
   padding-top: 20px; 
   justify-content: space-between;
}

label {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size:20px;
   color: #26273D;
}

input {
   border: none;
   border-bottom: 1px solid #26273D;
}

#twoLiner {
   display: flex;
   flex-direction: column;
}

#lineBuffer {
   padding-bottom: 20px;
}

.inputContainer {
   width:50vw;
   /* height:20px; */
   background:#DAD1B3;
   border:none;
}

.rightAnchor {
   display: flex;
   justify-content: flex-end;
}

#subWrite {
   padding-top: 5px;
   font-size: 13px;
   color: #5F6E9F;
}

#subButton {
   color: white;
   border-bottom:none;
   background: #5F6E9F;
   width: 125px;
   font-size: 20px;
   padding:10px;
}

#subButton:hover {
   cursor: pointer;
   background:#526192;
   /* transition: 1s; */
}