.bodyContainer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    width:600px;
    margin: auto;
    padding-top:50px;
}

.clickItem:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a:visited {
    color:inherit;
}